* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Default scale */
:root {
  --scale: 5;
}

@media (max-width: 1200px) {
  :root {
    --scale: 4.5;
  }
}

@media (max-width: 992px) {
  :root {
    --scale: 3.5;
  }
}

@media (max-width: 768px) {
  :root {
    --scale: 3;
  }
}

@media (max-width: 576px) {
  :root {
    --scale: 2.50;
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  font-family: 'Press Start 2P', cursive;
  font-size: 2vw;
  margin: 0 auto;
  padding-right: 10%;
  padding-left: 10%;
}

.container {
  text-align: center;
  margin: 0 auto;
  padding: 0 20px;
}

h1 {
  margin-bottom: 5vmin;
  font-size: 4vw;
  color: #333;
}

.column-container {
  display: flex;
  flex-direction: column;
  gap: 5vmin;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
}

/* Container to hold player profiles */
.player-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1vw;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.player-grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.player-grid-item img {
  width: 10vmin;
  height: 10vmin;
  margin-bottom: 0.5vmin;
}

.player-grid-item .player-name {
  font-size: 2vmin;
  color: #333;
}


.row-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  margin-bottom: 2vw;
}

.profile-picture-container {
  display: flex;
  align-items: center;
  margin-right: 2vw;
}

.profile-picture {
  width: 10vw;
  height: 10vw;
  cursor: pointer;
  border: 2px solid #333;
  border-radius: 10px;
}

.game-button {
  background: none;
  border: none;
  color: #FF4500;
  font-size: 3vw;
  cursor: pointer;
  position: relative;
  text-shadow: 2px 2px #000;
  animation: rocking 2s infinite ease-in-out;
  padding: 1vw;
  font-family: 'Press Start 2P', cursive;
  letter-spacing: -0.2vw;
}

.create-form {
  display: flex;
  align-items: center;
  padding-left: 40%;
  padding-right: 40%;
}


.game-button::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border: 2px solid #FF4500;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.game-button:hover {
  background-color: #555;
}

@keyframes rocking {
  0%, 100% {
    transform: rotate(-3deg);
  }

  50% {
    transform: rotate(3deg);
  }
}

.room-code {
  padding: 1vw;
  font-size: 2.5vw;
  border: 2px solid #333;
  margin-bottom: 2vmin;
  margin-top: 2vmin;
  text-align: center;
  border-radius: 4px;
  color: #000000;
  font-family: 'Press Start 2P', cursive;
  text-transform: uppercase;
}

.large-text {
  font-size: 4vw;
}

.player-name-list {
  margin-top: 2vmin;
  text-align: center;
  border-radius: 4px;
  color: #000000;
  font-family: 'Press Start 2P', cursive;
  text-transform: uppercase;
}

.inline-container {
  display: inline-flex;
}

.inline-container>p {
  margin-right: 10px;
}

.width100 {
  width: 100%;
}

.join-game {
  margin-top: 10vmin;
}

.join-form {
  text-align: right;
}

.profile-picture-container {
  display: flex;
  align-items: center;
  margin-right: 2vw;
}

.left-align {
  text-align: left;
}

.row-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  margin-bottom: 2vmin;
}

.time-limit {
  display: flex;
  align-items: center;
}

.time-limit span {
  font-size: 2vw;
  color: #FF4500;
  text-shadow: 1px 1px #000;
}

.time-control {
  font-size: 2vw;
  cursor: pointer;
  background: none;
  border: none;
  color: #FF4500;
  text-shadow: 1px 1px #000;
}

.time-control:hover {
  background-color: #555;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]+label {
  display: inline-block;
  width: 4vw;
  height: 4vw;
  line-height: 4vw;
  text-align: center;
  background-color: black;
  color: orange;
  cursor: pointer;
  font-size: 2vw;
}

input[type="radio"]:checked+label {
  background-color: orange;
  color: black;
}

.profile-picture {
  width: 10vw;
  height: 10vw;
  cursor: pointer;
  border: 2px solid #333;
  border-radius: 10px;
}

.profile-picture-small {
  width: 5vw;
  height: 5vw;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 2vmin;
  border: 1px solid #888;
  width: 80%;
  max-width: 1200px;
  border-radius: 10px;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 3vmin;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2vw;
}

.grid-item {
  width: 100%;
  height: auto;
  cursor: pointer;
}

#canvas {
  border: 2px solid black;
  /* fallback colour */
  /* unused  */
  /* background-color: #ffffff; */
}

/* pixel canvas */
#canvas {
  /* for modern browsers */
  image-rendering: pixelated;
  /* for browsers that are relics of the olden time */
  image-rendering: crisp-edges;
  width: calc(128px * var(--scale));
  height: calc(128px * var(--scale));
}

.slider-container {
  width: 80%;
  margin: 2vmin auto;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 1vmin;
  background: #ddd;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.15s ease-in-out;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2vw;
  height: 2vmin;
  /* background: #4caf50; */
  background: url('https://archives.bulbagarden.net/media/upload/7/79/Dream_Pok%C3%A9_Ball_Sprite.png') no-repeat;
  background-size: cover;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 2vw;
  height: 2vmin;
  /* background: #4caf50; */
  background: url('https://archives.bulbagarden.net/media/upload/7/79/Dream_Pok%C3%A9_Ball_Sprite.png') no-repeat;
  background-size: cover;
  cursor: pointer;
}

.settings-container {
  position: fixed;
  top: 10px;
  right: 10px;
}

.cog-button {
  width: 40px;
  height: 40px;
  cursor: pointer;
}