* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --scale: 5;
  /* Default scale */
}

@media (max-width: 1200px) {
  :root {
    --scale: 4;
  }
}

@media (max-width: 992px) {
  :root {
    --scale: 3;
  }
}

@media (max-width: 768px) {
  :root {
    --scale: 2;
  }
}

@media (max-width: 576px) {
  :root {
    --scale: 1;
  }
}

#canvas {
  border: 2px solid black;
  /* fallback colour */
  /* unused  */
  /* background-color: #ffffff; */
}

/* pixel canvas */
#canvas {
  /* for modern browsers */
  image-rendering: pixelated;
  /* for browsers that are relics of the olden time */
  image-rendering: crisp-edges;
  /* Scaled height and width to keep image dimensions 128px*/
  width: calc(128px * var(--scale));
  height: calc(128px * var(--scale));
}

.slider-container {
  width: 80%;
  margin: 20px auto;
  text-align: center;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: #ddd;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.15s ease-in-out;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #4caf50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #4caf50;
  cursor: pointer;
}