<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Draw Pokemon From Memory</title>
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <script src="{{ url_for('static', filename='js/draw.js') }}" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
</head>

<body>
  {% include 'modals/settings_modal.html' %}
  <div class="container">
    <div class="inline-container">
      <p data-lang-key="drawText">Draw the pokemon: </p>
      <p id="pokemonNameDisplay"></p>
    </div>
    <br>
    <canvas id="canvas" width="128" height="128" style="border:1px solid #000000;"
      ontouchstart="event.stopPropagation()" ontouchmove="event.stopPropagation()"></canvas>
    <div class="slider-container">
      <label for="colour" data-lang-key="colour">colour:</label>
      <input type="color" id="colour" name="colour" value="#000000">
    </div>
    <div class="slider-container">
      <label for="myRange" data-lang-key="lineWidth">Line Width: </label>
      <span id="sliderValue"></span>
      <input type="range" id="myRange" min="1" max="50" value="2" class="slider" ontouchstart="event.stopPropagation()"
        ontouchmove="event.stopPropagation()">
    </div>
    <div class="inline-container">
      <p data-lang-key="timeLeft">Time left: </p><span id="timer">0</span>
    </div>
    <br>
    <button id="saveBtn" class="game-button" data-lang-key="save">Save</button>
    <button id="uploadBtn" class="game-button" data-lang-key="upload">Upload</button>
    <input type="hidden" id="game_id" value="{{ game.game_id }}">
    <input type="hidden" id="pokemonId" value="{{ game.pokemon_ids[(game.current_round - 1)] }}
    ">
    <input type="hidden" id="max_time" value="{{ game.time_limit }}">
    {% for player in game.players %}
    {% if session['session_id'] == player.session_id %}
    <input type="hidden" id="player_name" value="{{ player.name }}">
    {% endif %}
    {% endfor %}
    <input type="hidden" id="round_number" value="{{ game.current_round }}">
  </div>
</body>

</html>