<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="../static/style.css" />
  <title>Draw Pokemon From Memory</title>
</head>

<body>
  <canvas id="canvas" width="128" height="128"></canvas>
  <input id="colour" type="color" />
  <button id="saveBtn">Save Canvas</button>

  <script src="../static/script.js"></script>
</body>

</html>