<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <title>Draw Pokemon From Memory - Landing</title>
</head>

<body>
  <h1>Welcome to Draw Pokemon From Memory!</h1>
  <form action="/create_game" method="POST">
    <button type="submit">Create Game</button>
  </form>
  <form action="/join_game" method="POST">
    <input type="text" name="game_id" placeholder="Enter Game ID" required>
    <button type="submit">Join Game</button>
  </form>
</body>

</html>