<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <title>Draw Pokemon From Memory</title>
  <script src="https://cdn.socket.io/4.3.2/socket.io.min.js"></script>
</head>

<body>
  {% include 'modals/settings_modal.html' %}
  <div class="container">
    <h1 data-lang-key="gameId">Game ID: </h1>
    <h1 class="room-code"> {{ game.game_id }}</h1>
    <p data-lang-key="players">Players:</p>
    <div class="player-grid">
      {% for player in game.players %}
      <div class="player-grid-item">
        <div class="profile-picture-container">
          <img id="player-{{ loop.index }}" class="profile-picture-small" src="{{ player.profile_picture }}"
            alt="Profile Picture">
          <p class="player-name-list">{{ player.name }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
    {% if session['session_id'] == game.players[0].session_id %}

    <!-- Radio buttons for number of rounds -->
    <form action="/start_game/{{ game.game_id }}" method="POST">
      <div class="row-container">
        <span class="left-align" data-lang-key="rounds">Rounds:</span>
        {% for i in range(1, 6) %}
        <input type="radio" id="round{{ i }}" name="round_count" value="{{ i }}" {% if i==1 %} checked {% endif %}>
        <label for="round{{ i }}">{{ i }}</label>
        {% endfor %}
      </div>

      <!-- Time limit selector -->
      <div class="row-container">
        <span class="left-align" data-lang-key="timeLimit">Time Limit:</span>
        <div class="time-limit">
          <span id="time-display">2:30</span>
          <button type="button" class="time-control" onclick="decreaseTime()">▼</button>
          <button type="button" class="time-control" onclick="increaseTime()">▲</button>
          <input type="hidden" id="timer" name="timer" value="150">
        </div>
      </div>

      <button type="submit" class="game-button" data-lang-key="startGame">Start Game</button>
    </form>

    {% else %}
    <p data-lang-key="waitingForHost">waiting for host to start game</p>
    {% endif %}

    <input type="hidden" id="game_id" value="{{ game.game_id }}">
  </div>

  <script src="{{ url_for('static', filename='js/lobby.js') }}"></script>
</body>

</html>