<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Draw Pokemon From Memory</title>
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  <div id="container">
    <h1>Review</h1>
    <p>Drawings of </p>
    <p id="pokemonNameDisplay"></p>
    <ul>
      {% for player in game.players %}
      <li>
        <p>{{ player.name }}'s drawing</p>
        <img src="{{ player.image_url }}" alt="Drawing by {{ player.name }}">
      </li>
      {% endfor %}
    </ul>
  </div>
</body>

</html>