<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Draw Pokemon From Memory</title>
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
  {% include 'modals/settings_modal.html' %}
  <div id="container">
    <h1 data-lang-key="review">Review</h1>
    <div class="rounds-container">
      {% for round in range(1, game.round_count + 1) %}
      <div class="round">
        <div class="inline-container">
          <p data-lang-key="round">Round </p>
          <p>{{ round }}</p>
        </div>
        <div class="inline-container">
          <p data-lang-key="drawingOf">Drawings of </p>
          <p data-pokemon-id="{{ round }}" class="pokemon-name-display"></p>
        </div>
        {% for player in game.players %}
        <div class="player-grid-item">
          <div class="profile-picture-container">
            <img class="profile-picture-small" src="{{ player.profile_picture }}" alt="Profile Picture">
            <div class="inline-container">
              <p class="player-name-list">{{ player.name }}'s</p>
              <p data-lang-key="drawing" class="player-name-list"> drawing</p>
              {% if player.image_urls[round - 1][round|string] %}
              <img src="{{ player.image_urls[round - 1][round|string] }}" alt="Drawing by {{ player.name }}">
              {% else %}
              <p>N/A</p>
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
    <input type="hidden" id="game_id" value="{{ game.game_id }}">
    <input type="hidden" id="round_count" value="{{ game.round_count }}">
    <input type="hidden" id="pokemonIds" value="{{ game.pokemon_ids | tojson }}">
  </div>

  <script src="{{ url_for('static', filename='js/review.js') }}"></script>
</body>

</html>